.airdrop {
  padding: 50px;
}

.airdrop-grid {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.9fr;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  border-radius: 5px;
  grid-gap: 20px;
}

.airdrop-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header {
  grid-column-start: 2;
  grid-row-start: 1;
}

.file-input-btn {
  grid-column-start: 3;
}

.grid-logo {
  grid-column-start: 1;
  height: 200px;
}

.grid-csv-input {
  grid-column: span 3;
  grid-row-start: 2;
}

.grid-batch-list {
  grid-column: span 3;
  grid-row-start: 3;
}

.ht-30 {
  height: 30px;
}

.ad-input {
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.02);
}

.input-label {
  font-size: 1.15em;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 20px 5px 20px;
  width: 169px;
}

.input-label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.csv-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.address-input {
  width: 40%;
}

.amount-input {
  width: 15%;
}


.create-list {
  list-style: none;
  padding-left: 0;
}

.create-list-item {
  margin-bottom: 10px;
}
.grid-logo-img {
  width: 90px;
  margin-left: 20px;
}


/* recipient table */
.recipient-table {
  border: 1px solid #777;
  border-collapse: collapse;
  padding: 0px;
  box-shadow: 1px 1px 2px #aaaaaa;
}

.table-header {
  font-size: 1.2rem;
  color: #222;
  padding: 5px;
  border-bottom: 1px solid #777;
  background-color: rgba(0,0,0,0.2);
}

.table-cell {
  color: #777;
  font-weight: 400;
  padding: 5px;
}

.text-bold {
  font-weight: bold;
  font-size: 1.4em;
}

.dark {
  background-color: #F2F2F2;
  border-right: 1px solid rgba(255,255,255,0.7);
}

.light {
  background-color: #FAFAFA;
  border-right: 1px solid rgba(0,0,0,0.05);
}

.pure-form {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.pure-form > input {
  width: 40%;
}
